{% extends 'base.html.twig' %}

{% block title %}Accueil | Gestion des séjours{% endblock %}

{% block body %}
<div class="title">
    <h1>Bienvenue dans la gestion de séjours ! </h1>
    <p class="message">Cette application vous permet de consulter la liste des patients et
    la liste des séjours. Connectez-vous pour pouvoir visualiser les données.</p>
</div>
{% endblock %}
